<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
</head>
<body>

    

    <form method="post" action="/alertDetail">

        <h2>ID Alerta: 2</h2>
        <label for="description">Descripción</label>
        <textarea name="description"></textarea>

        <br><br>
        
        <button type="submit" value="crear">Crear Detalle Alerta </button>
    
    </form>

    <% for( let index = 0; index < alertas.length; index++ ) { %>
      <h3>Alerta numero <%=index %></h3>  <%= alertas[index].description %>
    
    <% } %>
    
    
</body>
</html>